<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment APP</title>
</head>
<body>
    
 
  <form action='/api/user/post-form' method="POST">

    <label for="fname">Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="email">Email</label>
    <input type="email" name="email" placeholder="xyz@gmail.com">


  
    <input type="submit" value="Submit">

  </form>



</body>
</html>